.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}
.mb2 {
  margin-bottom: 16px;
}
h1 {
  font-size: 1.4rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
